#my-help {
    margin-top: 75px;
    transition-timing-function: ease-in-out;
    transition-property: all;
    transition-duration: 1s;
}

.help-title {
    margin-bottom: 10px;
}

.help-item {
    margin-bottom: 5px;
}

.help-cmd {
    color: blue;
}

@media only screen and (max-width: 800px) {
    #my-help {
        font-size: 12px;
        text-align: right;
    }
}